div{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
    background-size: cover;
}
#box1{
    background-image: url("31.tree_photo.jpg");
}

#box2{
   background-image: url("32.mountain_photo.jpg");
}